{% extends "base.html" %}
{% load static %}

{% block title %}Mehmet TAN{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">mehmettan.dev</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Mehmet TAN - The Author Of This Blog"/>
            <h2>Mehmet TAN</h2>
        </header>
        <p>Hi, I am Mehmet TAN and Im learning Django.</p>
    </section>

    <section id="latest-post">
        <h2>My Latest Post</h2>

        <ul>
            <li>
                <article class="post">
                    <a href=""> 
                        <img alt="Mountain Hiking"/>
                        <div class="post_content">
                            <h3>Mountain Hiking</h3>
                            <p> There's nothing like the viws you get when hiking in the mountains! And I wasn't even prepared for what happened whilst I was enjoyinf the view!</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I love programming, I love to help others and I enjoy exploring new technologies in general!</p>
        <p> My goal is to keep on growing as a engineer - and if icould help you do the same, I'd be very happy!</p>
    </section>
{% endblock content %}
